<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="anonyBoard">

	<select id="selectAllAnonymousBoard" resultMap="boardMap">
		<![CDATA[
			SELECT
				*
			FROM
				(
				SELECT
					rownum rn,
					tb1.*
				FROM
					(SELECT
						b.*,
						(SELECT EMP_NAME FROM emp e WHERE b.EMP_NO = e.EMP_NO) emp_name,
						(select count(*) from ANONYMOUS_ATTACHMENT where board_no = b.no) attach_count,
						(select count(*) from ANONYMOUS_BOARD_COMMENT where board_no = b.no) comment_count
					FROM
						ANONYMOUS_BOARD b
					WHERE
						 b.delete_yn = 'N'
						and
						b.title like '%' ||  #{cri.keyword} || '%'
					ORDER BY
						reg_date DESC
					) tb1
				WHERE
					rownum <= #{cri.pageNum} * #{cri.amount}
			)
			WHERE
				rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<resultMap type="board" id="boardMap">
		<id column="no" property="no"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="reg_date" property="regDate"/>
		<result column="read_count" property="readCount"/>
		<result column="like_count" property="likeCount"/>
		<result column="report_yn" property="reportYn"/>
		<result column="emp_no" property="empNo"/>
		<result column="category" property="category"/>
		<result column="delete_yn" property="deleteYn"/>
		<result column="attach_count" property="attachCount"/>
		<result column="comment_count" property="commentCount"/>
		<association property="emp" resultMap="empMap"/>
	</resultMap>
	
	<resultMap type="emp" id="empMap">
		<id column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName" />
	</resultMap>
	
	<select id="selectTotalAnonyBoardCount" resultType="int">
		SELECT
			count(*)
		FROM
			ANONYMOUS_BOARD
		WHERE
			delete_yn = 'N'
			<if test = "cri.keyword != null">
				and
				title like '%' ||  #{cri.keyword} || '%'
			</if>

	</select>
	
	<select id="selectAnonyBoardMain" resultType="board">
		<![CDATA[
		select 
			tb.NO,
			tb.title,
			tb.reg_date,
			tb.commentCount
		from 
			(SELECT
				b.*,
				(SELECT count(*) FROM BOARD_COMMENT WHERE NO = b.NO) commentCount
			from  
				ANONYMOUS_BOARD b
			WHERE
				b.delete_yn = 'N'
			order by 
				reg_date desc ) tb
		where 
			rownum <= 5
		]]>
	</select>
	<select id="selectTopAnonyBoardMain" resultType="board">
		<![CDATA[
		select 
			*
		from 
			(SELECT
				no,
				title ,
				reg_date,
				like_count
			FROM
				ANONYMOUS_BOARD
			WHERE 
				reg_date >= (CURRENT_DATE-700) 
			ORDER BY 
				like_count desc)
		where rownum <= 5
		]]>
	</select>

	<insert id="insertAnonymousBoard">
		insert into
			ANONYMOUS_BOARD(no, title, content, emp_no, category)
		values(
			seq_anonymous_board_no.nextval,
			#{title},
			#{content},
			#{empNo},
			'익명'
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="no">
			select
				seq_anonymous_board_no.currval
			from
				dual
		</selectKey>
	</insert>

	<insert id="insertAnonyAttachment">
		insert into
			ANONYMOUS_ATTACHMENT(no, file_name, board_no)
		values(
				  seq_anonymous_attachment_no.nextval,
				  #{fileName},
				  #{boardNo}
			  )
	</insert>
	
	<select id="selectAnonyBoardAttachments" resultMap="boardAttachMap">
		SELECT
			b.*,
		    a.no attach_no,
			a.file_name,
			(select count(*) from ANONYMOUS_BOARD_COMMENT where board_no = b.no) comment_count
		FROM
			ANONYMOUS_BOARD b LEFT JOIN ANONYMOUS_ATTACHMENT a ON
				b.NO = a.BOARD_NO
		WHERE
			b.no = #{no}
	</select>

	<resultMap type="board" id="boardAttachMap">
		<id column="no" property="no"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="reg_date" property="regDate"/>
		<result column="read_count" property="readCount"/>
		<result column="like_count" property="likeCount"/>
		<result column="report_yn" property="reportYn"/>
		<result column="emp_no" property="empNo"/>
		<result column="category" property="category"/>
		<result column="delete_yn" property="deleteYn"/>
		<result column="comment_count" property="commentCount"/>
		<collection property="attachments" resultMap="attachmentMap"/>
	</resultMap>

	<resultMap type="attachment" id="attachmentMap">
		<id column="attach_no" property="no"/>
		<result column="file_name" property="fileName" />
	</resultMap>

	<select id="selectAnonyBoardCommentList" resultMap="boardCommentMap">
		SELECT
			bc.*,
			(SELECT emp_name FROM emp e WHERE bc.EMP_NO = e.EMP_NO) emp_name,
			(SELECT dept_name FROM DEPARTMENT d JOIN emp e ON d.DEPT_CODE = e.DEPT_CODE WHERE e.EMP_NO = bc.EMP_NO) dept_name
		FROM
			ANONYMOUS_BOARD_COMMENT bc
		WHERE
			BOARD_NO = #{no}
			START WITH comment_level = 1 CONNECT BY PRIOR NO = comment_ref ORDER siblings by NO
	</select>

	<resultMap type="boardComment" id="boardCommentMap">
		<id column="no" property="no"/>
		<result column="comment_level" property="commentLevel"/>
		<result column="content" property="content"/>
		<result column="report_yn" property="reportYn"/>
		<result column="comment_ref" property="commentRef"/>
		<result column="reg_date" property="regDate"/>
		<result column="board_no" property="boardNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="delete_yn" property="deleteYn"/>
		<association property="emp" resultMap="empMap"/>
	</resultMap>

	<update id="updateReadCount">
		update ANONYMOUS_BOARD set read_count = read_count + 1 where no = #{no}
	</update>

	<select id="selectOneAttachment" resultType="attachment">
		select
			file_name
		from
			ANONYMOUS_ATTACHMENT
		where
			no = #{no}
	</select>

	<update id="updateAnonyBoardLikeCount">
		update ANONYMOUS_BOARD set like_count = like_count + 1 where no = #{no}
	</update>

	<update id="deleteAnonymousBoard">
		update ANONYMOUS_BOARD set delete_yn = 'Y' where no = #{no}
	</update>

	<insert id="insertAnonyBoardComment">
		INSERT INTO
			ANONYMOUS_BOARD_COMMENT(NO, COMMENT_LEVEL, CONTENT, COMMENT_REF, BOARD_NO, EMP_NO)
		values(
		  	seq_anonymous_board_comment_no.nextval,
			#{commentLevel},
			#{content},
			<if test="commentRef == 0">
				null,
			</if>
			<if test="commentRef != 0">
				#{commentRef},
			</if>
			#{no},
			#{empNo}
	  	)
	</insert>

	<select id="selectAnonymousBoardByTitle" resultMap="boardMap">
		<![CDATA[
		SELECT
			*
		FROM
			(
				SELECT
					rownum rn,
					tb1.*
				FROM
					(SELECT
						 b.*,
						 (SELECT EMP_NAME FROM emp e WHERE b.EMP_NO = e.EMP_NO) emp_name,
						 (select count(*) from ANONYMOUS_ATTACHMENT where board_no = b.no) attach_count,
						 (select count(*) from ANONYMOUS_BOARD_COMMENT where board_no = b.no) comment_count
					 FROM
						 ANONYMOUS_BOARD b
					 WHERE
					     b.title like '%' ||  #{searchKeyword} || '%'
					     and
						 b.delete_yn = 'N'
					 ORDER BY
						 reg_date DESC
					) tb1
				WHERE
					rownum <= #{cri.pageNum} * #{cri.amount}
			)
		WHERE
			rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>

	<select id="selectTotalAnonyBoardCountByTitle" resultType="int">
		SELECT
			count(*)
		FROM
			ANONYMOUS_BOARD
		WHERE
			title like '%' ||  #{searchKeyword} || '%'
			and
			delete_yn = 'N'
	</select>

	<update id="updateAnonymousBoard">
		update ANONYMOUS_BOARD set
			title = #{title},
		    content = #{content}
		where no = #{no}

	</update>
</mapper>