<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="selectAllBoard" resultMap="boardMap">
		<![CDATA[
			SELECT
				*
			FROM
				(
				SELECT
					rownum rn,
					tb1.*
				FROM
					(SELECT
						b.*,
						(SELECT EMP_NAME FROM emp e WHERE b.EMP_NO = e.EMP_NO) emp_name, 
						(select count(*) from attachment where board_no = b.no) attach_count, 
						(select count(*) from board_comment where board_no = b.no) comment_count
					FROM
						board b
					WHERE
						b.delete_yn = 'N'
					ORDER BY 
						reg_date DESC
					) tb1
				WHERE
					rownum <= #{cri.pageNum} * #{cri.amount}
			)
			WHERE
				rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<resultMap type="board" id="boardMap">
		<id column="no" property="no"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="reg_date" property="regDate"/>
		<result column="read_count" property="readCount"/>
		<result column="like_count" property="likeCount"/>
		<result column="report_yn" property="reportYn"/>
		<result column="emp_no" property="empNo"/>
		<result column="category" property="category"/>
		<result column="delete_yn" property="deleteYn"/>
		<result column="attach_count" property="attachCount"/>
		<result column="comment_count" property="commentCount"/>
		<association property="emp" resultMap="empMap"/>
	</resultMap>
	
	<resultMap type="emp" id="empMap">
		<id column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<select id="selectTotalBoardCount" resultType="int">
		SELECT
			count(*)
		FROM
			board
		WHERE
			delete_yn = 'N'
	</select>
	
	<select id="selectBoardMain" resultType="board">
		<![CDATA[
		select 
			tb.NO,
			tb.title,
			tb.category,
			tb.reg_date,
			tb.commentCount
		from 
			(SELECT
				b.*,
				(SELECT count(*) FROM BOARD_COMMENT WHERE NO = b.NO) commentCount
			from  
				board b
			WHERE
				b.category != '공지'
				AND
				b.delete_yn = 'N'
			order by 
				reg_date desc ) tb
		where 
			rownum <= 5
		]]>
	</select>
	<select id="selectTopBoardMain" resultType="board">
		<![CDATA[
		select 
			*
		from 
			(select 
				no,
				title ,
				reg_date,
				category,
				like_count
			from  
				board
			where  
				category != '공지'
				AND
				reg_date >= (CURRENT_DATE-700)
			ORDER BY 
				like_count desc)
		where rownum <= 5
		]]>
	</select>
	
	<update id="updateReadCount">
		update board set read_count = read_count + 1 where no = #{no}
	</update>
	
	<select id="selectBoardCommentList" resultMap="boardCommentMap">
		SELECT 
			bc.*, 
			(SELECT emp_name FROM emp e WHERE bc.EMP_NO = e.EMP_NO) emp_name, 
			(SELECT dept_name FROM DEPARTMENT d JOIN emp e ON d.DEPT_CODE = e.DEPT_CODE WHERE e.EMP_NO = bc.EMP_NO) dept_name 
		FROM 
			BOARD_COMMENT bc 
		WHERE 
			BOARD_NO = #{no}
			START WITH comment_level = 1 CONNECT BY PRIOR NO = comment_ref ORDER siblings by NO
	
	</select>
	
	<resultMap type="boardComment" id="boardCommentMap">
		<id column="no" property="no"/>
		<result column="comment_level" property="commentLevel"/>
		<result column="content" property="content"/>
		<result column="report_yn" property="reportYn"/>
		<result column="comment_ref" property="commentRef"/>
		<result column="reg_date" property="regDate"/>
		<result column="board_no" property="boardNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="delete_yn" property="deleteYn"/>
		<association property="emp" resultMap="empMap"/>
	</resultMap>

	<select id="selectOneBoard" resultMap="boardMap">
		SELECT 	
			b.*, 
			e.EMP_NAME, 
			(SELECT dept_name FROM DEPARTMENT d WHERE d.DEPT_CODE = e.DEPT_CODE) dept_name, 
			(SELECT count(*) FROM BOARD_COMMENT WHERE board_no = #{no}) comment_count 
		FROM 
			BOARD b JOIN emp e ON 
			b.EMP_NO = e.EMP_NO 
		WHERE b.NO = #{no}
	</select>
	
	<insert id="insertBoard">
		insert into 
			board(no, title, content, emp_no, category)
		values(
			seq_board_no.nextval,
			#{title},
			#{content},
			#{empNo},
			#{category}
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="no">
			select
				seq_board_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into
			attachment(no, file_name, board_no)
		values(
			seq_attachment_no.nextval,
			#{fileName},
			#{boardNo}
		)
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>