<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	<select id="selectNoticeMain" resultType="notice">
	<![CDATA[
		select 
			no,
			title,
			reg_date
		from 
			(select 
				* 
			from  
				notice 
			order by 	
				reg_date desc ) 
		where rownum <= 5
	]]>
	</select>

	<select id="selectAllNotice" resultMap="boardMap">
		<![CDATA[
		SELECT
			*
		FROM
			(
				SELECT
					rownum rn,
					tb1.*
				FROM
					(SELECT
						 n.*,
						 (SELECT EMP_NAME FROM emp e WHERE n.EMP_NO = e.EMP_NO) emp_name
					 FROM
						 notice n
					 WHERE
						 n.delete_yn = 'N'
					   and
						 n.title like '%' ||  #{cri.keyword} || '%'
					 ORDER BY
						 reg_date DESC
					) tb1
				WHERE
					rownum <= #{cri.pageNum} * #{cri.amount}
			)
		WHERE
			rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>

	<resultMap type="board" id="boardMap">
		<id column="no" property="no"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="reg_date" property="regDate"/>
		<result column="read_count" property="readCount"/>
		<result column="emp_no" property="empNo"/>
		<result column="delete_yn" property="deleteYn"/>
		<association property="emp" resultMap="empMap"/>
	</resultMap>

	<resultMap type="emp" id="empMap">
		<id column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName" />
		<result column="dept_name" property="deptName" />
	</resultMap>

	<select id="selectTotalNoticeCount" resultType="int">
		SELECT
			count(*)
		FROM
			notice
		WHERE
			delete_yn = 'N'
	</select>

	<update id="updateReadCount">
		update notice set read_count = read_count + 1 where no = #{no}
	</update>

	<select id="selectOneNotice" resultMap="boardMap">
		SELECT
			n.*,
			e.EMP_NAME,
			(SELECT dept_name FROM DEPARTMENT d WHERE d.DEPT_CODE = e.DEPT_CODE) dept_name
		FROM
			notice n JOIN emp e ON
				n.EMP_NO = e.EMP_NO
		WHERE n.NO = #{no}
	</select>

	<update id="deleteNotice">
		update notice set delete_yn = 'Y' where no = #{no}
	</update>

	<update id="updateNotice">
		update notice set
			 title = #{title},
			 content = #{content}
		where no = #{no}
	</update>

	<insert id="insertNotice">
		insert into
			NOTICE(no, title, content, emp_no)
		values(
			seq_notice_no.nextval,
			#{title},
			#{content},
			#{empNo}
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="no">
			select
				seq_notice_no.currval
			from
				dual
		</selectKey>
	</insert>
</mapper>