<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="message">

	<select id="selectOneMember" resultType="emp">
		SELECT 
			emp_no, 
			emp_name 
		FROM 
			emp 
		WHERE
			EMP_NO = #{empNo}
	
	</select>
	<select id="selectAllReceivedMessage" resultMap="messageMap">
		<![CDATA[
			select
			   *
			from
				(
				select
					rownum rn,
					tb1.*
				from
					(select
						m.*,
						(SELECT emp_name FROM emp WHERE emp_no = m.sender_emp_no) emp_name,
						(SELECT dept_name FROM DEPARTMENT d JOIN emp e ON d.DEPT_CODE = e.DEPT_CODE WHERE e.EMP_NO = m.SENDER_EMP_NO) dept_name
					from
						message m
					WHERE
						m.receiver_emp_no = #{empNo}
						and
						receiver_del_yn = 'N'
					ORDER BY
						m.sent_date DESC
					) tb1
				where
					rownum <= #{cri.pageNum} * #{cri.amount}
				)
			where
				rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<select id="selectAllSentMessage" resultMap="messageMap">
		<![CDATA[
			select
				*
			from
			 	(
				select
					rownum rn,
					   tb1.*
				from
					(select
						m.*,
						(SELECT emp_name FROM emp WHERE emp_no = m.receiver_emp_no) emp_name,
						(SELECT dept_name FROM DEPARTMENT d JOIN emp e ON d.DEPT_CODE = e.DEPT_CODE WHERE e.EMP_NO = m.receiver_emp_no) dept_name
					from
						message m
					WHERE
						m.sender_emp_no = #{empNo}
						AND
						sender_del_yn = 'N'
					ORDER BY
						m.sent_date DESC
					) tb1
				where
					rownum <= #{cri.pageNum} * #{cri.amount}
				)
			where
				rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<resultMap type="message" id="messageMap">
		<id column="no" property="no"/>
		<result column="content" property="content"/>
		<result column="sender_emp_no" property="senderEmpNo"/>
		<result column="receiver_emp_no" property="receiverEmpNo"/>
		<result column="sent_date" property="sentDate"/>
		<result column="read_date" property="readDate"/>
		<result column="sender_del_yn" property="senderDelYn"/>
		<result column="receiver_del_yn" property="receiverDelYn"/>

		<association property="emp" resultMap="empMap"/>
	</resultMap>
	
	<resultMap type="emp" id="empMap">
		<result column="emp_name" property="empName" />
		<result column="dept_name" property="deptName" />
	</resultMap>

	<select id="selectReceivedMessageCount" resultType="int">
		SELECT 
			COUNT(*) count 
		FROM 
			message 
		WHERE 
			receiver_emp_no = #{empNo}
			AND 
			read_date IS NULL 
			AND 
			receiver_del_yn = 'N'
	</select>
	
	<select id="selectOneSentMessage" resultMap="messageMap">
		SELECT 
			m.*, 
			(SELECT emp_name FROM emp WHERE emp_no = m.receiver_emp_no) emp_name, 
			(SELECT dept_name FROM DEPARTMENT d JOIN emp e ON d.DEPT_CODE = e.DEPT_CODE WHERE e.EMP_NO = m.receiver_emp_no) dept_name 
		FROM 
			message m 
		WHERE 
			NO = #{no}
	</select>
	
	<select id="selectOneReceivedMessage" resultMap="messageMap">
		SELECT 
			m.*, 
			(SELECT emp_name FROM emp WHERE emp_no = m.sender_emp_no) emp_name, 
			(SELECT dept_name FROM DEPARTMENT d JOIN emp e ON d.DEPT_CODE = e.DEPT_CODE WHERE e.EMP_NO = m.SENDER_EMP_NO) dept_name 
		FROM 
			message m 
		WHERE 
			NO = #{no}
	</select>
	
	<update id="updateReadDate">
		UPDATE message SET read_date = current_date WHERE NO = #{no}
	</update>

	<update id="deleteReceivedMessage">
		UPDATE message SET RECEIVER_DEL_YN = 'Y' WHERE NO = #{no}
	</update>

	<update id="deleteSentMessage">
		UPDATE message SET SENDER_DEL_YN = 'Y' WHERE NO = #{no}
	</update>

	<insert id="insertMessage">
		INSERT INTO message values(
			seq_message_no.nextval,
			#{content},
			#{senderEmpNo},
			#{receiverEmpNo},
			current_date,
			default,
			'N',
			'N'
	  )
	</insert>

	<select id="selectSentMesssageCount" resultType="int">
		SELECT
			COUNT(*) count
		FROM
			message
		WHERE
			sender_emp_no = #{empNo}
		  AND
			sender_del_yn = 'N'
	</select>


</mapper>