<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">
	
	<update id="insertEmp">
		update emp set 
			emp_name = #{empName}, 
			password = #{password}, 
			birthdate = #{birthdate}, 
			gender = #{gender}, 
			email = #{email}, 
			phone = #{phone}
		where 
			emp_no = #{empNo}
	</update>
	
	<select id="selectOneEmp" resultType="emp">
		select
			*
		from 
			emp
		where
			emp_no = #{empNo}
	</select>
	
	<resultMap type="emp" id="empMap">
		<id column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName"/>
		<result column="password" property="password"/>
		<result column="birthdate" property="birthdate"/>
		<result column="dept_code" property="deptCode"/>
		<result column="job_code" property="jobCode"/>
		<result column="emp_role" property="empRole"/>
		<result column="gender" property="gender"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="quit_yn" property="quitYn"/>
		<result column="ban_yn" property="banYn"/>
		<result column="profile_image" property="profileImage"/>
		<collection property="authorities" resultMap="authorityMap">
		</collection>
	</resultMap>
	
	<resultMap type="authority" id="authorityMap">
		<result column="emp_no" property="empNo"/>
		<result column="authority" property="authority"/>
	</resultMap>
	
	<select id="selectAllMember" resultType="emp">
		SELECT emp_no, emp_name FROM emp
	</select>
	
</mapper>