<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">
	
	<update id="insertEmp">
		update emp set 
			emp_name = #{empName}, 
			password = #{password}, 
			birthdate = #{birthdate}, 
			gender = #{gender}, 
			email = #{email}, 
			phone = #{phone}
		where 
			emp_no = #{empNo}
	</update>
	
	<select id="selectOneEmp" resultType="emp">
		select
			*
		from 
			emp
		where
			emp_no = #{empNo}
	</select>
	
	<resultMap type="emp" id="empMap">
		<id column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName"/>
		<result column="password" property="password"/>
		<result column="birthdate" property="birthdate"/>
		<result column="dept_code" property="deptCode"/>
		<result column="job_code" property="jobCode"/>
		<result column="emp_role" property="empRole"/>
		<result column="gender" property="gender"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="quit_yn" property="quitYn"/>
		<result column="ban_yn" property="banYn"/>
		<result column="profile_image" property="profileImage"/>
		<result column="dept_name" property="deptName" />
		<result column="job_name" property="jobName" />
		<collection property="authorities" resultMap="authorityMap">
		</collection>
	</resultMap>
	
	<resultMap type="authority" id="authorityMap">
		<result column="emp_no" property="empNo"/>
		<result column="authority" property="authority"/>
	</resultMap>
	
	<select id="selectAllMember" resultType="emp">
		SELECT emp_no, emp_name FROM emp
	</select>

	<select id="selectOneEmpInfo" resultMap="empMap">
		select
			e.*,
			(select dept_name from DEPARTMENT d where e.dept_code = d.dept_code) dept_name,
			(select job_name from job j where e.job_code = j.job_code) job_name
		from
			emp e
		where
			e.emp_no = #{empNo}
	</select>

	<update id="updateEmp">
		update emp set
			phone = #{phone},
		    email = #{email},
		    gender = #{gender}
		<if test="deptCode != null">
			,dept_code = #{deptCode}
		</if>
		<if test="jobCode != null">
			,job_code = #{jobCode}
		</if>
		<if test="profileImage != null">
			,profile_image = #{profileImage}
		</if>
		where
		      emp_no = #{empNo}
	</update>

	<update id="updatePassword">
		update emp set
		   password = #{password}
		where
			emp_no = #{empNo}
	</update>
</mapper>